.Card {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.Card__image {
    height: 250px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Card__note {
    padding: 0;
    margin: 2px;
    color: black;
}