.Profile__container {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    display: flex;
    height: 90vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}